@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  line-height: 24px;
  background-color: #ffffff;
  color: #000000;
  padding: 0;
  margin: 0;
}

.main-container {
  flex-grow: 1;
}

.wrapper {
  display: flex;
  flex-direction: column;
  width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
  min-height: 100vh;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-header {
  color: #000000;
  background-color: #ffffff;
  min-height: 64px;
  padding: 0 70px 0 239px;
  position: relative;
}

.logo-link {
  position: absolute;
  top: 0;
  left: 69px;
}

.logo-link:focus {
  outline: none;
  opacity: 0.5;
}

.logo {
  width: 140px;
  margin-right: 28px;
}

.navigation {
  width: 892px;
  margin: 0 auto;
  display: flex;
  padding: 0;
}

.main-menu {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style-type: none;
  width: 600px;
}


.main-menu-link {
  font-weight: 700;
  color: inherit;
  background-color: #ffffff;
  text-decoration: none;
  text-align: center;
  padding: 20px 16px;
  display: block;
}

.main-menu-link:hover {
  background-color: rgba(131, 179, 211, 0.20);
}

.main-menu-link:focus {
  outline: none;
  background-color: rgba(131, 179, 211, 0.20);
}

.user-menu {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  max-width: 280px;
  padding: 0;
  margin: 0 0 0 auto;
  list-style-type: none;

}

.user-menu-button {
  padding: 14px 0;
}

.user-menu-icon {
  padding-top: 14px;
}

.user-menu-link {
  position: relative;
  display: block;
  background-color: #ffffff;
  text-align: center;
}

.user-menu-link:focus {
  background-color: rgba(131, 179, 211, 0.20);
  outline: none;
}

.user-menu-link:hover svg path {
  fill: #615048;
}

.search {
  width: 44px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.favourite {
  width: 44px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.favourite-number {
  position: absolute;
  width: 20px;
  height: 20px;
  color: #ffffff;
  font-size: 10px;
  font-weight: 400;
  line-height: 10px;
  text-align: center;
  border-radius: 50%;
  background-color: #7DB54F;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 18px;
  left: 21px;


}

.button-link {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  background: #756157;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}

.button-link:hover {
  background-color: #615048;
}

.button-link:active {
  background-color: #756157;
  color: rgba(255, 255, 255, 0.30)
}

.button-link:focus {
  background-color: #615048;
  outline: none;
}

.button-link:disabled {
  background-color:
    #E5E5E5;
}

.navigation-button {
  margin-left: 22px;
  padding: 8px 34px;
}

.main-index {}

.welcome {
  background-color: #0b1841;
  background-image: url(../images/welcome-main/welcom-frame.svg), url("../images/background/index-background.jpg");
  background-repeat: no-repeat;
  background-size: 100%, cover;
  background-position: left bottom, center top;
  min-height: 485px;
  padding: 52px 50px 78px 50px;
  box-sizing: border-box;
}

.welcome-img {
  display: block;
  margin: 0 auto;
}

.advantages {}

.sedona-h2 {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  color: #000000;
}

.sedona-h3 {
  margin: 0;
  padding: 0;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: #000;
  text-align: center;
  list-style: none;
}

.advantages-title {

  margin: 0 auto 20px;
  width: 700px;
}

.description-big {
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  color: #333333;
}

.call-to-action-title {
  margin: 0 auto 20px;
  width: 600px;
}


.description-small {
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  color: #333333;
  text-align: center;
}

.advantages {
  padding: 69px 0 0;
  text-align: center;
}

.advantages-description-big {
  margin: 0 auto 90px;
  width: 660px;
}

.advantages-list {
  display: flex;
  text-align: center;
  list-style-type: none;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}

.advantages-item {
  display: flex;
}

.advantages-container {
  padding: 103px 0;
  margin: 0;
  width: 400px;
  text-align: center;
}

.advantages-item:nth-child(2n):not(.advantages-item-special) .advantages-container {
  background-color: rgba(131, 179, 211, 0.12);
}


.advantages-item-special .advantages-container {
  background: #82B3D3;
}


.advantages-title-small {
  position: relative;
  margin: 0 auto;
  width: 175px;
  padding-bottom: 30px;
}

.advantages-item-special .advantages-title-small {
  color: #f2f2f2;
}

.advantages-title-small::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  width: 60px;
  height: 1px;
  border-top: 2px solid rgba(0, 0, 0, 0.30);
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
}

.advantages-item-special .advantages-title-small::after {
  border-color: rgba(255, 255, 255, 0.3);
  ;
}

.advantages-description-small {
  width: 230px;
  margin: 0 auto;
  padding-top: 30px;
}


.advantages-item-special .advantages-description-small {
  color: #f2f2f2;
}

.advantages-item-special .advantages-title-small,
.advantages-item-special .advantages-description-smalln {
  color: #f2f2f2;
}

.advantages-images {
  width: 800px;
  height: 100%;
  object-fit: cover;
}

.feauture {
  padding-top: 64px;
}

.feauture-title {
  margin: 0 auto 20px;
  width: 600px;
}

.feauture-description {
  margin: 0 auto 64px;
  width: 600px;
}

.feauture-list {
  display: flex;
  list-style: none;
  justify-content: flex-start;
  padding: 0;
  margin: 0;
  flex-wrap: wrap;
}

.feauture-item {
  width: 400px;
  padding: 184px 0 80px;
  background-repeat: no-repeat;
  background-position: center 81px;
}

.feauture-item:nth-child(2n+1) {
  background-color: rgba(131, 179, 211, 0.12);
}

.feauture-caption {
  margin-bottom: 29px;

}

.feauture-description-small {
  width: 230px;
  margin: 0 auto;
}

.feauture-house {
  background-image: url("../images/advantages/housing.svg");
}

.feauture-eat {
  background-image: url("../images/advantages/food.svg");
}

.feauture-presents {
  background-image: url("../images/advantages/present.svg");
}

.call-to-action {
  padding: 96px 0;
  text-align: center;
}

.call-to-action-description {
  margin: 0 auto 54px;
  width: 660px;
}

.call-to-action-button {
  display: inline-block;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 8px 50px;
  margin: 0;
  color: #ffffff;
  background: #756157;
  border-radius: 4px;
  max-width: 376px;
}

.call-to-action-button:hover {
  background-color: #615048;
}

.call-to-action-button:active {
  background-color: #756157;
  color: rgba(255, 255, 255, 0.30)
}

.call-to-action-button:focus {
  background-color: #615048;
  outline: none;
}

.call-to-action-button:disabled {
  background-color:
    #E5E5E5;
}




.main-inner {}

.inner-header {
  background-image: url("../images/background/background-filter.jpg");
  background-color: #000000;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 412px;
  color: white;
  padding: 35px 70px 70px;
  box-sizing: border-box;
  margin-bottom: 55px;
}

.inner-header-title {
  padding: 0;
  margin: 0 0 8px;
  font-size: 60px;
  line-height: 78px;
  text-align: left;
  max-width: 1060px;
  margin-bottom: 16px;
}

.breadcrumbs {
  padding: 0;
  margin: 0;
  margin-bottom: 40px;
  display: flex;
  flex-wrap: wrap;
}
.breadcrumbs-link-home {
padding: 2px 0 0 0;
display: block;
}

.breadcrumbs-item {
  list-style: none;
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  text-align: center;
  position: relative;
  margin-right: 11px;
  padding-right: 17px;
}

.breadcrumbs-item:not(:last-child):after {
  content: '';
  display: inline-block;
  width: 7px;
  height: 10px;
  background-repeat: no-repeat;
  background-image: url("../images/catalog/bread-crumbs/arrow.svg");
  position: absolute;
  right: 0;
  top: 5px;
}

.breadcrumbs-link {
  text-decoration: none;
}
.catalog-products {}


.catalog-filter {
  display: grid;
  grid-template-columns: 160px 160px 288px 191px;
  gap: 70px;

}

.catalog-filter-group {
  border: none;
  padding: 0;
  margin: 0;
  width: 150px;
  margin-right: 70px;
}

.catalog-filter-title {
  font-weight: 700;
}

.catalog-filter-list {
  margin: 0;
  padding: 0;
}

.catalog-filter-item {
  list-style: none;
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
}

.contro {}

.control-input {}

.range {}

.range-input {}

.input-text-right {
  opacity: 0.3;
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
}

.button-filter {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  background-color: #82B3D3;
  border-radius: 4px;
  border: none;
  color: #ffffff;
  padding: 8px 50px;
  text-align: center;

}

.button-reset {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  background-color: hwb(0 100% 0% / 0);
  color: #ffffff;
  border: none;
  text-align: center;
}

.products {
  padding: 0 70px;
}

.products-list {
  display: flex;
  margin-bottom: 40px;
}

.catalog-title {
  text-align: left;
  margin: 0;
  width: 480px;
}

.select-control {
  margin-right: 70px;
  width: 270px;
  border: 2px solid #E5E5E5;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;

}

.catalog-view {
  display: flex;
  gap: 8px;
  margin-left: auto;
}

.button-light {
  width: 48px;
  height: 48px;
  border-radius: 4px;
  border: 2px solid #E5E5E5;
}
 .button-black {
  border-color: #000000;
}

.product-list {
  display: grid;
  margin: 0;
  padding: 0;
  list-style: none;
  grid-template-columns: 340px 340px 340px;
  gap: 20px;
}

.product-card {
  display: grid;
  width: 300px;
  padding: 20px;
  /*grid-template-rows: 212px 1fr;*/
  gap:20px;
  border-radius: 4px;
  border: 1px solid #E6E6E6;
  align-items: center;

}

.product-card-link {
  text-decoration: none;
  grid-column: 1/-1;
}

.product-card-image {
  width: 300px;
  height: 212px;
  margin: 0;
  padding: 0;
}

.product-card-title {
  margin: 0;
  padding: 0;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}

.product-caption-block {
  margin: 0;
  display: grid;
  grid-template-columns: 140px 140px;
  gap: 20px;
  grid-template-rows: 36px;
}

.product-button-block {
  display: grid;
  grid-template-columns: 140px 140px;
  gap: 20px;
}

.rating-block {
  display: grid;
  grid-template-columns: 140px 140px;
  gap: 20px;
}

.product-type {
  margin: 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  color: #333333;
}

.product-price {
  margin: 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  color: #333333;
  text-align: right;
}

.product-button {
  display: inline-block;

  text-decoration: none;
  text-transform: uppercase;
  background-color: hwb(0 100% 0% / 0);
  color: #ffffff;
  background: #756157;

  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}

.product-button-favorites {

  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  background-color: hwb(0 100% 0% / 0);
  color: #ffffff;
  background: #82B3D3;

  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}

.rating-text {
  margin-right: auto;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  color: #333333;
  text-align: center;
  display: inline-block;
  border-radius: 4px;
  background: #F2F2F2;
  padding: 8px 20px;
}

.rating {}

.rating-four {}

.rating-three {}

.rating-two {}

.pagination {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-top: 40px;
  padding: 0;
  list-style: none;
  gap: 8px;

}

.pagination-item {
  display: flex;
}

.pagination-item:nth-child(1) .pagination-link {
  background: #f2f2f2;
  color: rgb(0, 0, 0);
}

.pagination-link {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  min-width: 60px;
  height: 60px;
  background: #82B3D3;
  border-radius: 4px;
  color: white;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  padding: 0 10px;
  box-sizing: border-box;
}

.ellipsis {
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  color: #000;
  width: 60px;
  height: 60px;
  padding: 0 10px;
  box-sizing: border-box;
}

.page-footer {}

.subscription {
  background-color: #ffffff;
  color: #000000;
  padding: 96px 50px 104px 50px;
  min-height: 415px;
  text-align: center;
  box-sizing: border-box;
}

.index .subscription {
  background-color: #0b1841;
  background-image: url("../images/background/subscribe.jpg");
  color: #ffffff;
  background-repeat: no-repeat;
  background-size: cover;

}

.subscription-title {
  margin: 0 auto 21px;
  width: 600px;

}

.index .subscription-title {
  color: #ffffff;
}

.description-index {
  margin: 0 auto 58px;
  width: 660px;

}

.index .description-index {
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  color: #ffffff;
}

.subscription-form {
  display: flex;
  justify-content: center;
  height: 52px;
}

.email-field {
  margin: 0;
  padding: 12px 20px;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  background-color: #ffffff;
  color: rgb(0, 0, 0.6);
  width: 452px;
  border-radius: 4px 0px 0px 4px;
  border: 2px solid hsla(204, 48%, 60%, 0);
  box-sizing: border-box;
}

.catalog .email-field {
  background-color: #F2F2F2;
}

.email-field:hover {
  border: 2px solid #68A2CA;
  outline: none;
}

.email-field:active {
  border: 2px solid #68A2CA;
  outline: none;
}

.email-field:focus {
  border: 2px solid #68A2CA;
  outline: none;
}

.email-field:disabled {
  background-color: #E5E5E5;
  outline: none;
}


label[for="email"] {
  display: none;
}

.subscription-button {
  text-align: center;
  display: inline-block;
  border: none;
  background: #82B3D3;
  width: 232px;
  padding: 0;
  border-radius: 0px 4px 4px 0px;
}

.subscription-button:hover {
  background: #68A2CA;
}

.subscription-button:active {
  background: #82B3D3;
  color: rgba(255, 255, 255, 0.30);
}

.subscription-button:focus {
  background: #68A2CA;
}

.subscription-disabled: {
  background: #E5E5E5;
}

.footer-contacts {
  padding: 0 70px;
  display: flex;
  min-height: 120px;
  align-items: center;
}


.footer-social {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
  max-width: 120px;
  margin-right: 235px;
}

.social-item {}

.social-item-icon {}

.phone-container {
  display: flex;
  flex-wrap: wrap;
}

.footer-phone {
  font-size: 40px;
  font-weight: 400;
  line-height: 40px;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
  max-width: 340px;
}

.logo-link-2 {
  margin-left: auto;
  max-width: 120px;
}

.logo-2 {}
